{% extends 'request/main.html' %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">

<div>
    <div class="container">
        <h1 class="about" style="text-align: center; margin-top: 40px;">Peer Study</h1>
        <br><br>
        <h6  class="about" style="font-size: 30px;">Who are we?</h6>
        <br>
        <h6 class="about2">
            We are group of students in Enka High School aimed to help education of students by bringing them together with student tutors. 
        </h6>
        <h6 class="about2">
            We establish a network between students who struggle academically and students who want to help their peers. 
        </h6>
        <br><br>
        <h5 style="font-family: 'Playfair Display', serif;">Founder of Peer Study</h1>
        <div style="margin-bottom: 20px; width: 510px; height: 380px; border: 3px solid #ccc; background: #eee; padding: 15px 10px;">
            <a class="navbar-brand" style="margin-left: 3px;"><img src="/static/images/team.jpeg" alt="logo" width="478px" height="338px"></a>
        </div>
    
    </div>

    
</div>




{% endblock content %}