{% extends 'request/main.html' %}

{% block content %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap" rel="stylesheet">

<div class="container">
    <h1 class="about" style="text-align: center; margin-top: 50px;">Peer Study</h1>
    <br>
    <br>
    <h6 class="about2">Who are we?</h6>
    <h6 class="about2">Our mission is to ensure that</h6>
</div>

{% endblock content %}